@import url('https://fonts.googleapis.com/css?family=Coiny');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Kodchasan');

body {
	background: linear-gradient(to bottom,#6441a5,#6441a5);
	
	}



.emotes {
	margin:0;
    padding:0;
    border:0;
    height: 90px;
}	



#emt {
	display:inline-block;
    width: 32%;
	margin: 6px;
    height:30px;
}

#emt img  {
	display: block;                   /*  alttaki 3lü ortalama */
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#emt img:hover  {
	height: 64px;
	width: 64px;

}



#t1, #t2, #t3 {
    display:inline-block;
    width: 32%;
	margin: 6px;
    text-align: center;
    font-size: 30px;
    font-family: 'Kodchasan';
    color: #edf3ff;
}






svg {
  background: #6441a5;
  width: 1333px;
  height: 200px;
  display: block;                   /*  alttaki 3lü ortalama */
    margin-left: auto;
    margin-right: auto;

}

svg text {
  fill: #35322a;
  filter: url('#money');
  font-family: 'Playfair Display', 'Georgia', serif;
  font-size: 120px;
  font-weight: 900;

  
  
}


#header {
	height: 25px;
	width: auto;
	overflow: hidden;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1px;

}
#header h3 {
	font-family: 'Raleway', sans-serif;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 25px;
 text-align: left;

 /* Apply animation to this element */	
 animation: example2 10s ease-out;
}
/* Move it (define the animation) */
@keyframes example2 {
 0%   { 
 transform: translateX(200%); 		
 }
 100% { 
 transform: translateX(0%); 
 }
}

#parc {
	width: 500px;
	margin: auto;
	overflow: hidden;
	font-family:'Satisfy';

	
	
}

#parc #carta-encabezado {
	background-image: url('http://fotos.subefotos.com/e0139226fb6eb14f6009f4e87fa2f8c3o.png');
	height: 124px;
	margin-bottom: 40px;
}
#parc #carta-contenido {
	background-image:url('http://fotos.subefotos.com/cc42099b19996d043583e8a4377e8aaeo.png');
	background-repeat:repeat-y;
	min-height:50px;
	margin-top:-40px;
	padding-bottom:40px;
}

#parc #carta-mensaje {
	color:#6f0d0d;
	font-size: 16px;
	padding-left:115px;
	width:355px;
	margin-top:-30px;
	text-align: center;
}


#deffs {
    margin:0;
    padding:0;
    border:0;
}

#c1, #c2, #c3 {
    display:inline-block;
    width: 32%;
	margin: 6px;
    height: 200px;

	text-align: center;
	font-family: 'Kodchasan';
	font-size: 15px;
	color: #edf3ff; 
}


#mov {
	text-align: center;
	font-family: 'Kodchasan';
	font-size: 15px;
	color: #edf3ff; 
}

.footer {
	margin-top: 25px;
	background: red;
	width: auto;
	height: 50px;
	text-align: center;
	
	font-family: 'Kodchasan';
	color:#edf3ff;

}

.footer h4 {
	padding-top: 15px;
}