{{title = "RAW Superstars"}}
{{extend 'my_layout.html'}}


<h2 style="padding-left: 10px" > Smackdown Superstars</h2>

{{for star in sd_superstars:}}
<div class = "star_box">
<h4>

  <a href='{{=URL("sd_star", args=star.id)}}'>  <img style="height:300px;"  src="{{=URL('download', args=star.cover)}}"">{{=star['ring_name']}}</img>  </a>

</h4>
</div>

{{pass}}


<div class="add">
{{if auth.has_membership(role="editor"):}}
<a href="{{=URL('sd','sd_create')}}">Add new Smackdown Superstar</a>
{{pass}}
</div>