{{active="index"}}
{{title = "Homepage"}}
{{extend 'my_layout.html'}}
{{ prefixrumble = URL("default","event") + "/"  }}

				<!-- slider -->
				
				<div class="m-slider">
					<div class="slider-holder">
						<span class="slider-shadow"></span>
						<span class="slider-b"></span>
						<div class="slider flexslider">
							<ul class="slides">
								<li>
									<div class="img-holder">
										<img src="{{=prefix}}css/images/slide_img1.png" alt="" />
									</div>
									<div class="slide-cnt">
										<h2>WWE Superstars</h2>
										<div class="box-cnt">
											<p>How much do you know about WWE Superstars?<br>Wanna learn everything about them?</p>
										</div>
										<a href="stars" class="grey-btn">click here</a>
									</div>
								</li>
								<li>
									<div class="img-holder">
										<img src="{{=prefix}}css/images/slide_img3.png" alt="" />
									</div>
									<div class="slide-cnt">
										<h2>Be ready for Wrestlemania!</h2>
										<div class="box-cnt">
											<p>Get ready for the greatest show on earth! <br>Wrestlemania 33 - Orlando will be the best Wrestlemania in history! </p>
										</div>
										<a href="events" class="grey-btn">click here</a>
									</div>
								</li>
								<li>
									<div class="img-holder">
										<img src="{{=prefix}}css/images/slide-img1.png" alt="" />
									</div>
									<div class="slide-cnt">
										<h2>Your Title Here</h2>
										<div class="box-cnt">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus eget augue quis lorem ipsum dolor sit amet, consectetur adipiscing elit. llus eget augue quis lorem ipsum dolor sit amet, free css templates</p>
										</div>
										<a href="#" class="grey-btn">request a demo</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>		
				
				<!-- end of slider -->
				<!-- main -->
				
				<div class="main">
					<a href="#" class="m-btn-grey grey-btn">request a demo</a>
					<section class="cols">
						<div class="col">
							<img src="{{=prefix}}css/images/news-icon.png" alt="" />
							<div class="col-cnt">
								<h2>News</h2>
								<p>Do not miss anything! Learn latest news about WWE!</p>
								<a href="news" class="more">view more</a>
							</div>
						</div>
						<div class="col">
							<img src="{{=prefix}}css/images/events-icon.png" alt="" />
							<div class="col-cnt">
								<h2>Events</h2>
								<p>Stay informed about upcoming events. Wrestlemania is coming!</p>
								<a href="events" class="more">view more</a>
							</div>
						</div>
						<div class="col">
							<img src="{{=prefix3}}w0.jpg" alt="" />
							<div class="col-cnt">
								<h2>Champions!</h2>
								<p>Who is the champ now? Who was the previous champ?</p>
								<a href="champs" class="more">view more</a>
							</div>
						</div>
						<div class="cl">&nbsp;</div>
					</section>



					<!-- _____________________________________-->
					<section class="post">
						<div class="video-holder">
							<iframe width="350" height="240" src="https://w2.countingdownto.com/1652331" frameborder="0"></iframe>

						</div>

						<div class="post-cnt">
							<h2>Next pay-per-view: Royal Rumble</h2>
							<p><strong>Royal Rumble (2017) is an upcoming professional wrestling pay-per-view (PPV) event and WWE Network event produced by WWE for the Raw and SmackDown brands. It will take place on January 29, 2017, at the Alamodome in San Antonio, Texas. This will be the 30th event under the Royal Rumble chronology. The event is also the second Royal Rumble to be held in the Alamodome, after 1997, and the fourth to be held in the state of Texas (1989, 1997, and 2007).</p>

							<ul>
								<li><a href="{{=prefixrumble}}2">What is Royal Rumble?</a></li>
								<li><a href="http://www.wwe.com/wwenetwork" target="_blank">How To Watch</a></li>
								
							</ul>
						</div>
						<div class="cl">&nbsp;</div>
					</section>

					<!-- _____________________________________-->





					<section class="post">
						<div class="video-holder">
							<iframe width="435" height="243"
                                 src="https://www.youtube.com/embed/FdKZn8cY1Mo">
                            </iframe>
						</div>

						<div class="post-cnt">
							<h2>Wrestlemania is approaching !</h2>
							<p><strong>WrestleMania 33 will be the thirty-third annual WrestleMania professional wrestling pay-per-view event produced by WWE for the Raw and SmackDown brands. It will take place on April 2, 2017, at Camping World Stadium in Orlando, Florida. It will be the second WrestleMania to be held at this venue since WrestleMania XXIV in 2008 and the third to be held in the state of Florida since WrestleMania XXVIII in 2012 at Sun Life Stadium in the Miami suburb of Miami Gardens.</p>

							<ul>
								<li><a href="http://www.vividseats.com/wwe/wwe-wrestlemania-tickets.html" target="_blank">Buy Ticket</a></li>
								<li><a href="http://www.wwe.com/wwenetwork" target="_blank">How To Watch</a></li>
								
							</ul>
						</div>
						<div class="cl">&nbsp;</div>
					</section>

					<section class="testimonial">
						<h2>Forbes names WrestleMania in the top 10 most valuable sporting events!</h2>

						<p><strong class="quote">“</strong>Wrestlemania 32 at AT&T Stadium in Arlington, Texas generates $29.4 million in live event, WWE Network and stadium merchandise revenues combined, 18% more than previous year.”</p>

						<p class="author"><strong>Forbes</strong></p>
					</section>
				</div>
				
				<!-- end of main -->
				